core
# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

.vscode
CMakeFiles
HH/CMakeFiles
cmake_install.cmake_install
HH/cmake_install.cmake_install
HH/CMakeCache.txt
HH/Makefile
swi/CMakeFiles
swi/cmake_install.cmake_install
swi/CMakeCache.txt
swi/Makefile
CMakeCache.txt
*.xmf
*.h5
*.mp4
*.jpg
*.png
